.banner {
  position: relative;
  z-index: 1;
  background: #faefe9;
  height: rem(804);

  .container {
    .banner-owl-carousel {
      position: relative;

      .item {
        a {
          .left {
            h3 {
              position: relative;
              font-size: rem(40);
              &::before {
                content: "";
                position: absolute;
                left: 0;
                width: rem(3.5);
                height: 100%;
                background: $black;
              }
            }

            h1 {
              @include media-breakpoint-up(md) {
                font-size: rem(70);
                line-height: 1.178;
              }
            }

            button {
              width: 145px;
              height: 36px;
              border-radius: 2px;
              margin-top: 7%;
            }
          }
        }
      }

      .owl-nav {
        position: absolute;
        top: 35%;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .owl {
          &-prev,
          &-next {
            display: none;
            position: absolute;
            color: $black-800;
            font-size: 36px;

            @include media-breakpoint-up(sm) {
              display: block;
            }

            &:hover {
              background: transparent;
            }
          }

          &-prev {
            left: -3%;
          }

          &-next {
            right: -3%;
          }
        }
      }
    }
  }
}
