.banner {
  background: #faefe9;
  height: rem(804);

  .container {
    .banner-owl-carousel {
      position: relative;
      a {
        .left {
          width: 40%;

          h3 {
            position: relative;
            font-size: rem(40);
            &::before {
              content: "";
              position: absolute;
              left: 0;
              width: rem(3.5);
              height: 100%;
              background: $black;
            }
          }

          h1 {
            font-size: rem(70);
            line-height: 1.178;
          }

          button {
            width: 145px;
            height: 36px;
            border-radius: 2px;
            margin-top: 7%;
          }
        }

        .right {
          width: 60%;

          img {
            width: 84%;
          }
        }
      }

      .owl-nav {
        position: absolute;
        top: 40%;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .owl {
          &-prev,
          &-next {
            display: none;
            
            position: absolute;
            color: $black-800;
            font-size: 36px;


            @include media-breakpoint-up(lg) {
              display: block;
            }

            &:hover {
              background: transparent;
            }
          }

          &-prev {
            left: -50px;
          }

          &-next {
            right: -50px;
          }
        }
      }
    }
  }
}
