.banner {
  @extend %flexCenter;
  position: relative;
  z-index: 1;
  height: 804px;
  background: #faefe9;

  .container {
    .banner-owl-carousel {
      position: relative;

      .item {
        a {
          display: flex;
          text-decoration: none;

          .left {
            > h3 {
              @extend %flexColumn;
              position: relative;
              color: $black-900;
              font-size: rem(40);

              &::before {
                content: "";
                position: absolute;
                left: 0;
                width: 3.5px;
                height: 100%;
                background: $black;
              }
            }

            > b {
              display: inline-block;
              color: $black-900;
              font-size: rem(20);
            }

            > h1 {
              @extend %flexColumn;
              color: $black-900;
              text-transform: uppercase;
              font-weight: 300;

              @include media-breakpoint-up(md) {
                font-size: rem(70);
                line-height: 1.178;
              }
            }

           > button {
            width: 145px;
              margin-top: 7%;
            }
          }
        }
      }

      .owl-nav {
        position: absolute;
        top: 35%;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .owl {
          &-prev,
          &-next {
            display: none;
            position: absolute;
            color: $black-800;
            font-size: 36px;

            @include media-breakpoint-up(sm) {
              display: block;
            }

            &:hover {
              background: transparent;
            }
          }

          &-prev {
            left: -3%;
          }

          &-next {
            right: -3%;
          }
        }
      }
    }
  }
}
