.from-our-blog {
  &__image {
    @include transition(transform);

    &:hover {
      @include scale();
      @include transition(transform);
    }
  }

  .container {
    .row {
      [class*="col-"] {
        .card {
          div {
            .date {
              top: rem(20);
              left: rem(20);
              width: rem(83);
              height: rem(83);
              background: $white;

              h2 {
                border-bottom: 0.1rem solid $black;
              }
            }
          }

          &-body {
            a {
              color: $black;
              @include transition(transform, color);

              &:hover {
                color: $primary;

                @include scale();
                @include transition(transform, color);
              }
            }
          }
        }
      }
    }
  }
}
