.new-arrivals {
  .container {
    .row {
      div[class*="col-"] {
        & > div {
          height: 454px;

          a {
            color: $white;
            @include transition(transform, color);

            &:hover {
              color: $primary;

              @include scale();
              @include transition(transform, color);
            }
          }
        }

        .sofa-style {
          @include backgroundImage(sofa-style-2021, png);
        }

        .perfect-fit {
          @include backgroundImage(perfect-fit-for-your-home, png);
        }

        .new-collection {
          @include backgroundImage(new-collection, png);
        }
      }
    }
  }
}
