.shop-by-department {
  .container {
    .row {
      .col-12 {
        background-color: $white;
        @include transition(transform, background-color);

        a {
          @extend %flexCenter;
          flex-direction: column;
          width: 100%;
          height: 100%;
          text-decoration: none;
          padding-block: 46px;
          border: 0.5px solid rgba($secondary, 0.3);

          span {
            font-size: rem(56);
            &:before {
              color: $secondary;
              @include transition(color);
            }
          }

          h3 {
            color: $secondary;
            @include transition(color);
          }
        }

        &:hover {
          background: $primary;
          @include scale(1.1);
          @include transition(transform);

          a {
            border: none;
            span:before {
              color: $white;
              @include transition(color);
            }

            h3 {
              color: $white;
              @include transition(color);
            }
          }
        }
      }
    }
  }
}
