.sign-up-for {
  background-image: url(#{$images-path}/sign-up-bg.png);
  background-repeat: no-repeat;
  background-position: right;

  .container {
    & > div {
      min-height: rem(340);
    }

    h2 {
      font-size: rem(30);
    }

    form {
      width: 100%;
      border-bottom: 0.1rem solid rgba($black, 0.8);

      @include media-breakpoint-up(sm) {
        width: 426px;
      }

      input {
        width: 100%;
        border: none;

        &::placeholder {
          font-size: rem(20);
          color: $black-500;
        }

        &:focus {
          outline: none;
        }
      }

      button {
        border: none;
      }
    }
  }
}
