.trending {
  .container {
    .row {
      @include media-breakpoint-up(xl) {
        display: grid !important;
        grid-template-columns: repeat(5, 1fr);
      }

      .col-12 {
        @include transition(transform, background-color);

        .card {
          &-body {
            color: rgba($black, 0.7);
          }
        }
      }
    }
  }
}

