.trending {
  .container {
    .row {
      @include media-breakpoint-up(xl) {
        display: grid !important;
        grid-template-columns: repeat(5, 1fr);
      }

      .col-12 {
        @include transition(transform, background-color);

        > a {
          @extend %flexCenter;
          flex-direction: column;
          text-decoration: none;
        }

        .card {
          border: 0;

          &-body {
            color: rgba($black, 0.7);

            .card-title {
              margin: 0;
              font-size: 14px;
              font-weight: 500;
            }

            .card-text {
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
