%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%gridCenter {
  display: grid;
  place-items: center;
}

%titleFontSize {
  font-size: clamp(1.69rem, calc(1.63rem + 0.28vw), 1.88rem);
  text-align: center;
}

%subTitleFontsAndBottomStyle {
  position: relative;
  font-size: clamp(0.81rem, calc(0.76rem + 0.28vw), 1rem);
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    right: 50%;
    bottom: -12px;
    left: 50%;
    width: 142px;
    height: 1px;
    background: $black;
    transform: translate(-50%, -50%);
  }
}
