// url("#{$images}/sign-in-bg-image.jpg");

@font-face {
  font-family: $ff-Gotham;
  src: url("#{$gotham-font-path}/Gotham-Thin.woff2") format("woff2"),
    url("#{$gotham-font-path}/Gotham-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $ff-Gotham;
  src: url("#{$gotham-font-path}/Gotham-Light.woff2") format("woff2"),
    url("#{$gotham-font-path}/Gotham-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $ff-Gotham;
  src: url("#{$gotham-font-path}/Gotham-Light.woff2") format("woff2"),
    url("#{$gotham-font-path}/Gotham-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $ff-Gotham;
  src: url("#{$gotham-font-path}/Gotham-XLight.woff2") format("woff2"),
    url("#{$gotham-font-path}/Gotham-XLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $ff-Gotham;
  src: url("#{$gotham-font-path}/Gotham-Book.woff2") format("woff2"),
    url("#{$gotham-font-path}/Gotham-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $ff-Gotham;
  src: url("#{$gotham-font-path}/Gotham-Black.woff2") format("woff2"),
    url("#{$gotham-font-path}/Gotham-Black.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $ff-Gotham;
  src: url("#{$gotham-font-path}/Gotham-Medium.woff2") format("woff2"),
    url("#{$gotham-font-path}/Gotham-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $ff-Gotham;
  src: url("#{$gotham-font-path}/Gotham-Bold.woff2") format("woff2"),
    url("#{$gotham-font-path}/Gotham-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $ff-Gotham;
  src: url("#{$gotham-font-path}/Gotham-Bold.woff2") format("woff2"),
    url("#{$gotham-font-path}/Gotham-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
