$header: ".header";

.header {
  position: sticky;
  top: 0;
  z-index: 10;

  &__primary {
    background-color: $primary;

    .container {
      padding-block: 12.4px;

      > div {
        @extend %flexCenter;

        #{$header}__markdown {
          margin: 0;
          color: $white;
          text-align: center;
          font-weight: 700;

          > a {
            color: $white;
            @include transition(transform, color);

            &:hover {
              color: $black;
              @include scale();
              @include transition(transform, color);
            }
          }
        }
      }
    }
  }

  &__secondary {
    @extend %flexBetween;
    background-color: $white;
    box-shadow: 0 2px 18px 1px #faefe9;

    .container {
      padding-block: 17px;

      .nav {
        @extend %flexCenter;
        flex-direction: column;
        gap: 20px;

        @include media-breakpoint-up(sm) {
          flex-direction: row;
          justify-content: space-between;
        }

        #sidebar {
          display: none;
          position: fixed;
          top: 0;
          left: -100%;
          z-index: 5;
          width: 100%;
          height: 100vh;
          background: $primary;
          animation: showSidebar 0.5s ease forwards;

          @keyframes showSidebar {
            to {
              left: 0;
            }
          }

          @include media-breakpoint-up(lg) {
            position: static;
            display: block;
            width: fit-content;
            height: auto;
            background: transparent;
          }

          #closeMenu {
            position: absolute;
            right: 11%;
            top: 5%;
            border: 0;
            background-color: transparent;

            @include media-breakpoint-up(lg) {
              display: none;
            }
          }

          ul {
            @extend %flexColumn;
            padding-left: 30px;
            padding-top: 75px;
            height: 100%;

            @include media-breakpoint-up(lg) {
              flex-direction: row;
              height: auto;
              align-items: center;
              justify-content: center;
              gap: 40px;
              padding-left: 0;
              padding-top: 0;
            }

            li {
              a {
                color: $white;
                font-size: 30px;
                text-decoration: none;

                @include media-breakpoint-up(lg) {
                  color: $black-800;
                  font-size: rem(14);
                  font-weight: 300;
                }

                &:hover {
                  @include media-breakpoint-up(lg) {
                    text-decoration: underline;
                    color: $primary;
                  }
                }
              }
            }
          }
        }

        .right {
          @extend %flexBetween;
          width: 100%;
          gap: rem(19.5);

          @include media-breakpoint-up(lg) {
            width: fit-content;
            justify-content: center;
          }

          > form {
            @extend %flexCenter;
            width: 100%;
            padding-block: 6px;
            padding-right: 10.51px;
            border-radius: 5px;
            background-color: $black-200;

            @include media-breakpoint-up(lg) {
              width: 160px;
            }

            > input {
              width: 100%;
              padding-inline: 9px;
              background-color: $black-200;
              border: 0;

              &::placeholder {
                font-size: rem(14);
              }

              &:focus {
                outline: none;
              }
            }

            > button {
              border: 0;
            }
          }

          .icons {
            display: flex;
            gap: rem(21);

            a {
              text-decoration: none;
              span {
                color: $black;

                &:hover {
                  color: $primary;
                }
              }
            }
          }
        }
      }
    }
  }
}

.icon-menu-icon:before {
  color: $primary;
}

.icon-close-icon:before {
  font-size: rem(24);
  color: $white;
}
