header {
  position: sticky;
  top: 0;
  z-index: 10;

  div[aria-label="primary-header"] {
    .container {
      padding-block: rem(12.4);
      h6 {
        a {
          color: $white;
          @include transition(transform, color);

          &:hover {
            color: $black;
            @include scale();
            @include transition(transform, color);
          }
        }
      }
    }
  }

  div[aria-label="secondary-header"] {
    @extend %flexBetween;

    .container {
      padding-block: rem(17);

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        @include media-breakpoint-up(sm) {
          flex-direction: row;
          justify-content: space-between;
        }

        h1 {
          font-size: rem(30);
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          @include media-breakpoint-up(lg) {
            display: block;
            width: fit-content;
          }

          #sideMenu {
            position: absolute;
            right: rem(12);

            @include media-breakpoint-up(lg) {
              display: none;
            }
          }
        }

        nav {
          display: none;
          position: fixed;
          top: 0;
          left: -100%;
          z-index: 5;
          width: 100%;
          height: 100vh;
          background: $primary;
          animation: showSidebar 0.5s ease forwards;

          @keyframes showSidebar {
            to {
              left: 0;
            }
          }

          @include media-breakpoint-up(lg) {
            display: block;
            position: static;
            width: fit-content;
            height: auto;
            background: transparent;
          }

          #closeMenu {
            position: absolute;
            right: 11%;
            top: 5%;

            @include media-breakpoint-up(lg) {
              display: none;
            }
          }

          ul {
            padding-left: 30px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100%;

            @include media-breakpoint-up(lg) {
              flex-direction: row;
              height: auto;
              align-items: center;
              gap: rem(40);
              padding-left: 0;
            }

            li {
              a {
                color: $white;
                font-size: 30px;
                text-decoration: none;

                @include media-breakpoint-up(lg) {
                  color: $black-800;
                  font-size: rem(14);
                  font-weight: 300;
                }

                &:hover {
                  font-weight: 400;
                  color: $black;
                  text-decoration: underline;
                }
              }
            }
          }
        }

        .right {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: rem(19.5);

          form {
            padding: rem(6);
            display: flex;
            align-items: center;
            justify-content: center;

            input {
              width: 160px;

              &::placeholder {
                font-size: rem(14);
              }

              &:focus {
                outline: none;
              }
            }
          }

          .icons {
            display: flex;
            gap: rem(21);

            a {
              span {
                color: $black;

                &:hover {
                  color: $primary;
                }
              }
            }
          }
        }
      }
    }
  }
}

.icon-menu-icon:before {
  color: $primary;
}

.icon-close-icon:before {
  font-size: rem(24);
  color: $white;
}
