.container {
  max-width: 1240px;
  width: 100%;
  padding-inline: 16px;
  margin-inline: auto;

  @include media-breakpoint-up(lg) {
    padding-inline: 0;
  }

  // @media (min-width: 1240px) {
  //   padding-inline: 0;
  // }
}
